page-home {

.image-container {
        min-height: 200px;
        background-size: cover;
	}
	
.app-font {
    font-size: 10px;
}
	
video {
		max-width: 100%;
		height: auto;
		background-color: #000;
	}

}
