<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <ion-searchbar color="primary" placeholder="enter giphy search..."
	[(ngModel)]="giphyQueryValue" [formControl]="giphyQueryControl" value="">
      </ion-searchbar>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
	<ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button icon-only (click)="shuffleGiphyQuery()">
	<ion-icon name="shuffle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3
	       *ngFor="let post of giphyService.posts">
	<div no-lines (click)="playVideo($event, post)" style="background-color: #fff;">
          <img src="assets/images/loader.gif" *ngIf="post.showLoader" class="image-container" />
          <video loop  [src]="post.url" [poster]="post.snapshot">
	  </video>
	</div>
	<div (click)="showComments(post)" class="app-font"  style="text-align: center;">
          {{post.title}}
	</div>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="giphyService.loading" no-lines style="text-align: center;">
      <img src="assets/images/loader.gif" style="width: 50px" />
    </ion-item>

  </ion-grid>

  <button ion-button full color="light" (click)="loadMore()">Load More... </button>

</ion-content>
